<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        name="name"
        class="form-control"
        placeholder="Name"
        ngModel
      />
    </div>
    <div class="form-check form-group">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
        name="flexCheckDefault"
        ngModel
      />
      <label class="form-check-label" for="flexCheckDefault">
        Default checkbox
      </label>
    </div>

    <h5>User Interface Style</h5>
    <div class="form-group">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
          value="1"
          ngModel
        />
        <label class="form-check-label" for="flexRadioDefault1">
          Default radio
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          value="2"
          checked
          ngModel
        />
        <label class="form-check-label" for="flexRadioDefault2">
          Default checked radio
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select
        class="form-control"
        id="subscriptionType"
        name="subscriptionType"
        ngModel
      >
        <option>Monthly</option>
        <option>Annual</option>
        <option>Lifetime</option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea
        id="notes"
        name="notes"
        class="form-control"
        rows="3"
        ngModel
      ></textarea>
    </div>

    <div class="form-group">
      <label for="testing">Testing</label>
      <input type="date" id="testing" name="testing" class="form-control" />
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>

{{ form.value | json }}
